/*PRODUCT LIST CSS*/
#productlistcontainer {
    position: relative;

}

#productlistheader {
    background-image: url(../img/background.png);
    background-repeat: space;
    max-width: 100%;
    height: auto;


}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    color: white;
    padding: 2em;
}

#productlistpage {
    position: absolute;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 70%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 3rem;
}

article {
    display: flex;

    flex-direction: column;
}



.sec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

.color {
    margin: 0;
    padding: 0;
}

.productlistimg {
    max-width: 100%;
    height: auto;
}




/*PRODUCT PAGE CSS*/