html {
  padding: 0;
  margin: 0;
}

#page-container {
  /* position: relative; */
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Crimson Text', serif;
  padding: 0;
  margin: 0;
}

/* Header */

.grid-header {
  display: grid;
  grid-template-columns: 65px 1fr;
  grid-template-rows: none;
}

.logo-header {
  display: flex;
}

.logo-grid {
  padding-left: 5px;
  width: 55px;
  height: auto;
}

.navigation-grid {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding-top: 15px;
}

/* container for the dropdown button and dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown,
.nav-item {
  width: 140px;
  padding-right: 1px;
}

.navigation-grid a {
  padding: 5% 10% 5% 10%;
  text-decoration: none;
  color: #262473;
  font-weight: bold;
}

.navigation-grid a:hover {
  background-color: #fff;
  color: #B378ED;
  transition: color .15s ease-in-out;
}

/* Dropdown Content  */
.dropdown-content {
  top: 20px;
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  min-width: 200px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#img-container {
  background-image: url(../img/header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: block;
}

/*PRODUCT LIST CSS*/
#productlistcontainer {
  position: relative;

}

#productlistheader {
  background-image: url(../img/background.png);
  background-repeat: space;
  max-width: 100%;
  height: auto;


}

h1 {
  font-size: 6rem;
  display: flex;
  justify-content: center;
  color: white;
  padding: 2em;
}

#productlistpage {
  position: absolute;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 70%;
  gap: 3rem;
}

article {
  display: flex;

  flex-direction: column;
}

.sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.color {
  margin: 0;
  padding: 0;
}

.productlistimg {
  max-width: 100%;
  height: auto;
}

/*Landing page*/

.best-selling-container {
  margin-top: 10em;
}

h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.best-selling {
  display: grid;
  max-width: 100%;
  min-height: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.best-selling article {
  margin: 2em;
  max-width: 100%;
}

.best-selling article img {
  max-width: 100%;
  border-radius: 8%;
}

.best-selling article h3 {
  display: flex;
  justify-content: center;
}

.grid-container-whole {
  background-image: url(../img/backgr.svg);
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: auto; */
  max-width: 100%;
  height: 170vh;
  margin: auto;
}

.grid-container-whole h2 {
  display: flex;
  justify-content: center;
  padding-top: 5em;
}

.cust-rev {
  display: flex;
}

.flex-container {
  max-width: 100%;
  display: flex;
  /* align-content: space-between; */
  margin: auto;
}

.flex-container img {
  max-width: 40%;
  padding: 2em;
}

/* .flex-item {
  display: flex;
  justify-content: space-between;
} */



/*footer style*/

.footer-grid {
  max-width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border-top: solid #B378ED 0.4em;
}

.footer-img {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.footer-text {
  display: flex;
  grid-column: 2/6;
}

.icon-footer {
  display: flex;
  max-width: 50%;
  justify-content: center;
  margin: 0;
  padding: 0;
  grid-column: 1/6;
}

.copyright {
  grid-column: 1/6;
}



/* .category-footer {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  min-height: auto;
} */

/* footer ul {
  padding: 0;
  margin: 0;
}
footer li {
  list-style-type: none;
  margin: 0 0 8px 0;
} */

/*PRODUCT PAGE CSS*/